<ion-item-sliding #slidingItem>
    <ion-item>
        <ion-thumbnail item-left>
            <img src="{{pin.thumb}}">
        </ion-thumbnail>
        <h2>{{pin.name}}</h2>
        <p>{{pin.desc}}</p>
        <p *ngIf="pin.qty > 0" float>Have <ion-badge secondary>{{pin.qty}}</ion-badge></p>
        <p *ngIf="pin.qty < 0">Want <ion-badge>{{-pin.qty}}</ion-badge></p>
    </ion-item>
    <ion-item-options side="right">
        <button clear item-right (click)="incrementPin(pin, slidingItem)"><ion-icon name="add"></ion-icon></button>
        <button clear item-right (click)="decrementPin(pin, slidingItem)"><ion-icon name="remove"></ion-icon></button>
    </ion-item-options>
</ion-item-sliding>